pyspark==3.5.1
requests==2.32.3
google-cloud-storage==2.16.0
pyarrow>=14.0.0
pendulum==3.0.0
psycopg2-binary==2.9.9
google-cloud-bigquery==3.20.1
scikit-learn==1.5.2
pandas==2.2.2
google-cloud-aiplatform==1.35.0
